
<!DOCTYPE HTML>

<html lang="en">
	<head>
	    <title>Jakob's Weather App</title>

	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/css/weather-icons.min.css" />

	</head>

	<body onload="loadingScreen()" ng-app="Weather">
		<div id="loader"></div>

		<div class="mainContainer" ng-controller="MainCtrl">

		<div id="chooseContainer">
			<form action="#" id="form" method="post" name="form">
			<i id="close" class="fa fa-close" onclick ="togglePages('hide')"></i>
			<input id="cityPick" class="cityPick" name="city" placeholder="City, Country" onkeydown="keydownFunction()" type="text">
			<a class="send" ng-click="Data.changeLoc()">Send</a>
			</form>
		</div>

		<div id="loaded" class="container">
			
			<header>
				<i id="fcci" class="fa fa-free-code-camp"></i>
				<h1>Weather App</h1>
			</header>
			
		    <div>
				<p><span class="city" title="Click to change location" onclick="togglePages('show')">{{Data.city}}</span><span class="country">, {{Data.country}} </span><i id="currentLoc" class="fa fa-map-marker" ng-click="Data.currentLoc()"></i></p>
				<p>{{Data.temp}} &#176;<span class="temp" ng-click="Data.changeTemp()" title="Click to change to celsius/fahrenheit">{{Data.unit}}</span></p>
				<p>{{Data.des}}</p>
		  	</div>

		  	<div class="text-center all-icon">
	          <div class="wi wi-day-showers hide ">
	            <div class="cloud"></div>
	            <div class="sun">
	              <div class="rays"></div>
	            </div>
	            <div class="rain"></div>
	          </div>
	          <div class="wi wi-thunderstorm hide thunderstom">
	            <div class="cloud"></div>
	            <div class="lightning">
	              <div class="bolt"></div>
	              <div class="bolt"></div>
	            </div>
	          </div>
	          <div class="wi wi-cloud hide mist">
	            <div class="cloud"></div>
	            <div class="cloud"></div>
	          </div>
	          <div class="wi wi-cloud hide clouds">
	            <div class="cloud"></div>
	            <div class="cloud"></div>
	          </div>
	          <div class="wi wi-snow hide snow">
	            <div class="cloud"></div>
	            <div class="snow">
	              <div class="flake"></div>
	              <div class="flake"></div>
	            </div>
	          </div>
	          <div class="wi wi-day-sunny hide clear">
	            <div class="sun">
	              <div class="rays"></div>
	            </div>
	          </div>
	          <div class="wi wi-showers hide rain">
	            <div class="cloud"></div>
	            <div class="rain"></div>
	          </div>
	          <div class="wi wi-showers hide drizzle">
	            <div class="cloud"></div>
	            <div class="rain"></div>
	          </div>
        	</div>

		</div>

		<div class="footer"><b>Created By</b><br /><a href="https://squanchersquanch.github.io/">Jakob Bullard</a></div>
		</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>